.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 750px;
  }
  @media screen and (min-width: 992px) {
    width: 970px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }

  &--building {
    display: flex;
    justify-content: flex-end;
  }

  &--skills {

    h1 { margin: 0 0 0 0 }
    .el-row { margin-top: 100px; }
    text-align: center;
  }

  &--projects {
    text-align: center;
  }

}

.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100%;
  background: linear-gradient(to bottom, #1e5799 9%, #2989d8 69%, #65ade6 100%);
  // background: linear-gradient(to bottom, #417dc1, #88bbe4);

  color: white;

  h2 {
    font-size: 2em;
    margin: 0;
  }

  h3 {
    font-size: 1.5em;
  }

  i {
    opacity: 0.8;
    transition: all 0.3s ease;
    color: darken(white, 5%);
    &:hover { color: white; opacity: 1;}
  }

}
