.panel {
  padding: 100px 0 0 0;

  &--bottom {
    background-color: lighten(lightgrey, 7%); // #8dc496
    padding: 50px 0 0 0;
    img { margin-bottom: -5px; }

  }
}

.building {
  position: absolute;
  bottom: 0;
  height: 300px;
}

.skills {
  &__icon {
    height: 100px;
  }
  &__label {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.4em;
  }
}
