.panel {
  padding: 100px 0;

  &--bottom {
    background-color: lighten(lightgrey, 7%); // #8dc496
    // background-color: #8dc496;
    padding: 50px 0 0 0;
    img { margin-bottom: -5px; }
    // h1 { color: white; text-shadow: 0.5px 0.5px grey; }
    // p { color: darken(white, 5%);  text-shadow: 0.5px 0.5px black; }
  }
}

.building {
  position: absolute;
  bottom: 0;
  height: 300px;
}

.skills {
  &__icon {
    height: 100px;
  }
  &__label {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.4em;
  }
}
